#div_bot_section{
    position: fixed;
    top: 10%;
    left: 5%;
    width: 90%;
    min-width: 1080px;
    height: 80%;
    min-height: 580px;
    padding: 20px;
    
    //border: solid 1px black;
    
}

#div_tlo1{
    position: absolute;
    top: 25px;
    left: 5px;
    width: 200px;
    height: 400px;
    background-image:url(../images/tlo.jpg);
    backroung-size: contain;
    background-repeat: no-repeat;
    padding: 20px;
}

#div_tlo2{
 position: absolute;
    top: 25px;
    right: 5px;
    width: 200px;
    height: 400px;
    background-image:url(../images/tlo2.jpg);
    backroung-size: contain;
    background-repeat: no-repeat;
    padding: 20px;

}


#div_gracz_block{
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 200px;
    height: 280px;
    background-image:url(../images/gracz.gif);
    padding: 20px;
    
    //border: solid 1px black;
}

#div_bot_block{
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 200px;
    height: 280px;
    background-image: url(../images/janusz.gif);
    background-repeat: no-repeat;
	background-position: center;
    
    //border: solid 1px black;
}

#div_messages_block{
    position: absolute;
    top: 25px;
    bottom: 80px;
    left: 220px;
    right: 220px;
    height: auto;
    width: auto;
    color: black;
    
    padding: 20px;
    border: solid 1px black;
    border-radius: 40px;
        
    overflow: auto;
}

#div_message_input{
    position: absolute;
    bottom: 5px;
    left: 220px;
    right: 220px;
    width: auto;
    
    
    padding: 20px;
    //border: solid 1px black;
}

#button_send_message{
    min-width: 60px;   
}

.pnoznahelp{
    position: absolute;
    top: 70px;
    left: 50px;
	right: 50px;  
    padding: 5px;           
    overflow: auto;
	background-color: #BDBDBD;
	border: solid 1px black;
}

.resthelp_pnozna{
    position: absolute;
    top: 250px;
    bottom: 80px;
    left: 40px;
	right: 40px;
    height: 1200px;   
    padding: 5px;           
    overflow: auto;
	background-color: white;
}