.ttt-div{
    width: 110px;
    height: 110px;
    padding: 10px;
    margin: 0 !important;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    float: left;
}

.ttt-1-3, .ttt-2-3, .ttt-3-3{
    border-right: none;
}

.ttt-3-1, .ttt-3-2, .ttt-3-3{
    border-bottom: none;
}

.vertical-line{
    width: 2px;
    margin-top: 15px;
    height: 80px;
    float: left;
    border-right: 1px solid black;
}

.ttt-main-container{
    margin: 25px;
    margin-left: 110px;
    margin-right: 110px;
    align-content: center;
    text-align: center;
    
    //border: 1px solid black;
}

.ttt-clear-float{
    clear: both;  
    width: 0px;
    height: 0px;
    padding: 0px;
    margin: 0px;
}

.button-ttt{
    width: 50px !important;
    height: 50px !important;
    margin: 15px !important;
    font-size: 24px;
}